<mat-drawer-container class="w-full h-full drawer-list" (backdropClick)="handleBackdropClick()">

    <mat-drawer-content>
        <app-cards-list [navigate]="true"></app-cards-list>
    </mat-drawer-content>

    <mat-drawer class="!rounded-none" [ngClass]="mobileService.isTablet() ? '!w-full' : '!w-1/2 !shadow !border-l'" [mode]="mobileService.isTablet() ? 'over' : 'side'" [position]="'end'" [opened]="!!selectedCard || !mobileService.isTablet()">
        <div class="flex flex-col min-h-full">

            @if (selectedCard) {

                <!-- #region Header -->
                <div class="fm-toolbar flex flex-row items-center gap-3 sticky top-0 z-10">
                    <a mat-icon-button [routerLink]="['/cards/']" (click)="selectedCard = undefined">
                        <mat-icon>arrow_back</mat-icon>
                    </a>
                    <img [src]="selectedCard.getArtworkSrc()" [alt]="selectedCard.CardId" class="w-8 h-8">
                    <div class="flex flex-col gap-1 flex-auto truncate leading-none">
                        <div class="">
                            {{ selectedCard.getFullName() }}
                        </div>
                        <div class="text-secondary text-xs">
                            {{ selectedCard.Type }}
                        </div>
                    </div>
                </div>
                <!-- #endregion -->

                <div class="flex flex-col px-3 md:px-6 py-6 gap-6">

                    <div class="flex flex-col items-center justify-center gap-3">
                        <img [src]="selectedCard.getDetailSrc(languageService)" [alt]="selectedCard.CardId">
                    </div>

                    <!-- #region Card info -->
                    <mat-expansion-panel class="fm-expansion-panel" [expanded]="true">
                        <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
                            Card info
                        </mat-expansion-panel-header>
                        <div class="flex flex-col gap-6 px-4 py-2">
                            <div class="flex flex-col divide-y">
                                <div class="flex flex-row items-center justify-between gap-6 py-2">
                                    <div class="text-secondary">Type</div>
                                    <div>
                                        <div class="flex flex-row items-center gap-2">
                                            <img class="w-6 h-6" [src]="'assets/images/types/' + selectedCard.Type + '.png'">
                                            {{ selectedCard.Type }}
                                        </div>
                                    </div>
                                </div>
                                @if (selectedCard.Type !== 'Equip') {
                                    <div class="flex flex-row items-center justify-between gap-6 py-2">
                                        <div class="text-secondary">GuardianStars</div>
                                        <div>{{ selectedCard.GuardianStar1 }} / {{ selectedCard.GuardianStar2 }}</div>
                                    </div>
                                    <div class="flex flex-row items-center justify-between gap-6 py-2">
                                        <div class="text-secondary">Level</div>
                                        <div>{{ selectedCard.Level }}</div>
                                    </div>
                                    <div class="flex flex-row items-center justify-between gap-6 py-2">
                                        <div class="text-secondary">ATK/DEF</div>
                                        <div>{{ selectedCard.Attack }} / {{ selectedCard.Defense }}</div>
                                    </div>
                                    <div class="flex flex-row items-center justify-between gap-6 py-2">
                                        <div class="text-secondary">Attribute</div>
                                        <div>{{ selectedCard.Attribute }}</div>
                                    </div>
                                }
                                <div class="flex flex-row items-center justify-between gap-6 py-2">
                                    <div class="text-secondary">Password</div>
                                    <div>{{ selectedCard.Password }}</div>
                                </div>
                                <div class="flex flex-row items-center justify-between gap-6 py-2">
                                    <div class="text-secondary">StarchipCost</div>
                                    <div>{{ selectedCard.StarchipCost || '' }}</div>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <!-- #endregion -->

                    <!-- #region Drops -->
                    <mat-expansion-panel class="fm-expansion-panel" [expanded]="true">
                        <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
                            Drops
                            @if (loading) {
                                (...)
                            } @else {
                                ({{ drops.length }})
                            }
                        </mat-expansion-panel-header>
                        @if (loading) {
                            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        } @else {
                            @if (drops.length > 0) {
                                <table class="fm-table" matSort [matSortActive]="'CardProbability'" [matSortDirection]="'desc'" [matSortStart]="'desc'" [matSortDisableClear]="true" (matSortChange)="sortDrops($event)">
                                    <thead>
                                        <tr>
                                            <th mat-sort-header="DuelistId" class="text-left">Duelist</th>
                                            <th mat-sort-header="PoolType" class="text-left">Rank</th>
                                            <th mat-sort-header="CardProbability" arrowPosition="before" class="text-right">%</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (drop of drops; track $index) {
                                            <tr>
                                                <td class="text-left">
                                                    <a class="flex flex-row items-center gap-1" [routerLink]="['/duelists/', drop.DuelistId]">
                                                        <img [src]="drop.duelist?.getDuelitsSrc()" [alt]="drop.DuelistId" class="w-12 h-12">
                                                        <div>{{ drop.duelist?.Duelist }}</div>
                                                    </a>
                                                </td>
                                                <td class="text-left">
                                                    @switch (drop.PoolType) {
                                                        @case ('SAPow') {
                                                            <div class="flex flex-row items-center gap-1">
                                                                <div>S/A</div>
                                                                <div class="bg-red-500 text-white rounded px-1 py-0.5 text-xs">POW</div>
                                                            </div>
                                                        }
                                                        @case ('SATec') {
                                                            <div class="flex flex-row items-center gap-1">
                                                                <div>S/A</div>
                                                                <div class="bg-blue-500 text-white rounded px-1 py-0.5 text-xs">TEC</div>
                                                            </div>
                                                        }
                                                        @case ('BCD') {
                                                            <div class="flex flex-row items-center gap-1">
                                                                <div>B/C/D</div>
                                                            </div>
                                                        }
                                                        @default {
                                                            {{ drop.PoolType }}
                                                        }
                                                    }
                                                </td>
                                                <td class="text-right">{{ drop.getCardProbabilityPercentage() | number : '1.2-2' }}%</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            } @else {
                                <div class="flex flex-col items-center justify-center p-6">
                                    <div class="text-gray-500 text-7xl mb-6">
                                        :(
                                    </div>
                                    <div class="text-center">
                                        No one drops it.
                                    </div>
                                    <div class="text-gray-500 text-sm text-center">
                                        This card cannot be obtained in duel.
                                    </div>
                                </div>
                            }
                        }
                    </mat-expansion-panel>
                    <!-- #endregion -->

                    <!-- #region Opponents decks -->
                    <mat-expansion-panel class="fm-expansion-panel" [expanded]="true">
                        <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
                            Opponents decks
                            @if (loading) {
                                (...)
                            } @else {
                                ({{ opponentsDecks.length }})
                            }
                        </mat-expansion-panel-header>
                        @if (loading) {
                            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        } @else {
                            @if (opponentsDecks.length > 0) {
                                <table class="fm-table" matSort [matSortActive]="'CardProbability'" [matSortDirection]="'desc'" [matSortStart]="'desc'" [matSortDisableClear]="true" (matSortChange)="sortOpponentDecks($event)">
                                    <thead>
                                        <tr>
                                            <th mat-sort-header="DuelistId" class="text-left">Duelist</th>
                                            <th mat-sort-header="CardProbability" arrowPosition="before" class="text-right">%</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (drop of opponentsDecks; track $index) {
                                            <tr>
                                                <td class="text-left">
                                                    <a class="flex flex-row items-center gap-1" [routerLink]="['/duelists/', drop.DuelistId]">
                                                        <img [src]="drop.duelist?.getDuelitsSrc()" [alt]="drop.DuelistId" class="w-12 h-12">
                                                        <div>{{ drop.duelist?.Duelist }}</div>
                                                    </a>
                                                </td>
                                                <td class="text-right">{{ drop.getCardProbabilityPercentage() | number : '1.2-2' }}%</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            } @else {
                                <div class="flex flex-col items-center justify-center p-6">
                                    <div class="text-gray-500 text-7xl mb-6">
                                        :(
                                    </div>
                                    <div class="text-center">
                                        Nobody uses it.
                                    </div>
                                    <div class="text-gray-500 text-sm text-center">
                                        This card is not used by any duelist.
                                    </div>
                                </div>
                            }
                        }
                    </mat-expansion-panel>
                    <!-- #endregion -->

                    @if (selectedCard.Type === 'Equip') {

                        <!-- #region Equips -->
                        <mat-expansion-panel class="fm-expansion-panel" [expanded]="true">
                            <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
                                Equips
                                @if (loading) {
                                    (...)
                                } @else {
                                    ({{ equipsInverse.length }})
                                }
                            </mat-expansion-panel-header>
                            @if (loading) {
                                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                            } @else {
                                <div class="p-4 gap-1" [ngClass]="mobileService.isTablet() ? 'grid grid-cols-4' : 'flex flex-row flex-wrap items-center justify-center'">
                                    @for (equip of equipsInverse; track $index) {
                                        <a class="hover:scale-110 transition-all" [routerLink]="['/cards/', equip.CardId]">
                                            <img [src]="equip.card?.getCardSrc(languageService)" [alt]="equip.CardId">
                                        </a>
                                    }
                                </div>
                            }
                        </mat-expansion-panel>
                        <!-- #endregion -->

                    }

                    @if (selectedCard.Type !== 'Equip' && selectedCard.Type !== 'Trap' && selectedCard.Type !== 'Ritual') {

                        <!-- #region Can be equipped with -->
                        <mat-expansion-panel class="fm-expansion-panel" [expanded]="true">
                            <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
                                Can be equipped with
                                @if (loading) {
                                    (...)
                                } @else {
                                    ({{ equips.length }})
                                }
                            </mat-expansion-panel-header>
                            @if (loading) {
                                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                            } @else {
                                <div class="p-4 gap-1" [ngClass]="mobileService.isTablet() ? 'grid grid-cols-4' : 'flex flex-row flex-wrap items-center justify-center'">
                                    @for (equip of equips; track $index) {
                                        <a class="hover:scale-110 transition-all" [routerLink]="['/cards/', equip.EquipId]">
                                            <img [src]="equip.equip?.getCardSrc(languageService)" [alt]="equip.EquipId">
                                        </a>
                                    }
                                </div>
                            }
                        </mat-expansion-panel>
                        <!-- #endregion -->

                    }

                    @if (rituals.length > 0) {

                        <!-- #region Rituals -->
                        <mat-expansion-panel class="fm-expansion-panel" [expanded]="true">
                            <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
                                Rituals
                                @if (loading) {
                                    (...)
                                } @else {
                                    ({{ rituals.length }})
                                }
                            </mat-expansion-panel-header>
                            @if (loading) {
                                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                            } @else {
                                <div class="flex flex-col items-center p-4 gap-1">
                                    @for (ritual of rituals; track $index) {
                                        <div class="flex flex-col items-center justify-center gap-1">
                                            <a class="hover:scale-110 transition-all" [routerLink]="['/cards/', ritual.RitualCardId]">
                                                <img [src]="ritual.cardRitual?.getCardSrc(languageService)" [alt]="ritual.RitualCardId">
                                            </a>
                                            <div class="flex flex-row gap-1">
                                                <a class="hover:scale-110 transition-all" [routerLink]="['/cards/', ritual.Material1]">
                                                    <img [src]="ritual.cardMaterial1?.getCardSrc(languageService)" [alt]="ritual.Material1">
                                                </a>
                                                <a class="hover:scale-110 transition-all" [routerLink]="['/cards/', ritual.Material2]">
                                                    <img [src]="ritual.cardMaterial2?.getCardSrc(languageService)" [alt]="ritual.Material2">
                                                </a>
                                                <a class="hover:scale-110 transition-all" [routerLink]="['/cards/', ritual.Material3]">
                                                    <img [src]="ritual.cardMaterial3?.getCardSrc(languageService)" [alt]="ritual.Material3">
                                                </a>
                                            </div>
                                            <div class="flex flex-col items-center justify-center w-10">
                                                <mat-icon>arrow_downward</mat-icon>
                                            </div>
                                            <a class="hover:scale-110 transition-all" [routerLink]="['/cards/', ritual.Result]">
                                                <img [src]="ritual.cardResult?.getCardSrc(languageService)" [alt]="ritual.Result">
                                            </a>
                                        </div>
                                    }
                                </div>
                            }
                        </mat-expansion-panel>
                        <!-- #endregion -->

                    }

                    <!-- #region Fusions to obtain this card -->
                    <mat-expansion-panel class="fm-expansion-panel" [expanded]="true">
                        <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
                            Fusions to obtain this card
                            @if (loading) {
                                (...)
                            } @else {
                                ({{ fusionsAsResult.length }})
                            }
                        </mat-expansion-panel-header>
                        @if (loading) {
                            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        } @else {
                            @if (fusionsAsResult.length > 0) {
                                <div class="flex flex-col items-center p-4 gap-1">
                                    @for (fusion of fusionsAsResult; track $index) {
                                        <div class="flex flex-row gap-1">
                                            <a class="hover:scale-110 transition-all" [routerLink]="['/cards/', fusion.Material1]">
                                                <img [src]="fusion.cardMaterial1?.getCardSrc(languageService)" [alt]="fusion.Material1">
                                            </a>
                                            <a class="hover:scale-110 transition-all" [routerLink]="['/cards/', fusion.Material2]">
                                                <img [src]="fusion.cardMaterial2?.getCardSrc(languageService)" [alt]="fusion.Material2">
                                            </a>
                                            <div class="flex flex-col items-center justify-center w-10">
                                                <mat-icon>arrow_forward</mat-icon>
                                            </div>
                                            <a class="hover:scale-110 transition-all" [routerLink]="['/cards/', fusion.Result]">
                                                <img [src]="fusion.cardResult?.getCardSrc(languageService)" [alt]="fusion.Result">
                                            </a>
                                        </div>
                                    }
                                </div>
                            } @else {
                                <div class="flex flex-col items-center justify-center p-6">
                                    <div class="text-gray-500 text-7xl mb-6">
                                        :(
                                    </div>
                                    <div class="text-center">
                                        No fusions available.
                                    </div>
                                    <div class="text-gray-500 text-sm text-center">
                                        This card cannot be obtained by fusion.
                                    </div>
                                </div>
                            }
                        }
                    </mat-expansion-panel>
                    <!-- #endregion -->

                    <!-- #region Fusions with this card as material -->
                    <mat-expansion-panel class="fm-expansion-panel" [expanded]="true">
                        <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
                            Fusions with this card as material
                            @if (loading) {
                                (...)
                            } @else {
                                ({{ fusionsAsMaterial.length }})
                            }
                        </mat-expansion-panel-header>
                        @if (loading) {
                            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        } @else {
                            @if (fusionsAsMaterial.length > 0) {
                                <div class="flex flex-col items-center p-4 gap-1">
                                    @for (fusion of fusionsAsMaterial; track $index) {
                                        <div class="flex flex-row gap-1">
                                            <a class="hover:scale-110 transition-all" [routerLink]="['/cards/', fusion.Material1]">
                                                <img [src]="fusion.cardMaterial1?.getCardSrc(languageService)" [alt]="fusion.Material1">
                                            </a>
                                            <a class="hover:scale-110 transition-all" [routerLink]="['/cards/', fusion.Material2]">
                                                <img [src]="fusion.cardMaterial2?.getCardSrc(languageService)" [alt]="fusion.Material2">
                                            </a>
                                            <div class="flex flex-col items-center justify-center w-10">
                                                <mat-icon>arrow_forward</mat-icon>
                                            </div>
                                            <a class="hover:scale-110 transition-all" [routerLink]="['/cards/', fusion.Result]">
                                                <img [src]="fusion.cardResult?.getCardSrc(languageService)" [alt]="fusion.Result">
                                            </a>
                                        </div>
                                    }
                                </div>
                            } @else {
                                <div class="flex flex-col items-center justify-center p-6">
                                    <div class="text-gray-500 text-7xl mb-6">
                                        :(
                                    </div>
                                    <div class="text-center">
                                        No fusions available.
                                    </div>
                                    <div class="text-gray-500 text-sm text-center">
                                        This card cannot be fused.
                                    </div>
                                </div>
                            }
                        }
                    </mat-expansion-panel>
                    <!-- #endregion -->

                </div>

            } @else {

                <div class="fm-toolbar flex flex-row items-center gap-3 sticky top-0 z-10">

                </div>

                <div class="flex flex-col items-center justify-center p-6">
                    <mat-icon class="material-symbols-outlined icon-96 mb-6">
                        style
                    </mat-icon>
                    <div class="text-center">
                        No card selected.
                    </div>
                    <div class="text-gray-500 text-sm text-center">
                        Select a card to see his detail.
                    </div>
                </div>

            }

        </div>
    </mat-drawer>

</mat-drawer-container>
