<div class="flex flex-col w-full h-full overflow-y-auto">

    <!-- #region Filters -->
    <div class="fm-toolbar flex flex-row items-center justify-between gap-3 sticky top-0 z-10">
        <mat-form-field class="dense-form-field flex-auto" appearance="outline" subscriptSizing="dynamic">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput [formControl]="filterControl" name="search" type="text" placeholder="Search...">
            @if (filterControl.value) {
                <button matSuffix mat-icon-button (click)="filterControl.setValue('')">
                    <mat-icon>clear</mat-icon>
                </button>
            }
        </mat-form-field>
        <mat-form-field class="dense-form-field flex-auto" appearance="outline" subscriptSizing="dynamic">
            <mat-icon matPrefix>filter_alt</mat-icon>
            <mat-select matInput multiple [formControl]="filterByTypeControl" placeholder="Filter...">
                <mat-option [value]="'Equip'">Equip</mat-option>
                <mat-option [value]="'Magic'">Magic</mat-option>
                <mat-option [value]="'Ritual'">Ritual</mat-option>
                <mat-option [value]="'Trap'">Trap</mat-option>
                <mat-optgroup [label]="'Monsters'">
                    <mat-option [value]="'Aqua'">Aqua</mat-option>
                    <mat-option [value]="'Beast'">Beast</mat-option>
                    <mat-option [value]="'Beast-Warrior'">Beast-Warrior</mat-option>
                    <mat-option [value]="'Dinosaur'">Dinosaur</mat-option>
                    <mat-option [value]="'Dragon'">Dragon</mat-option>
                    <mat-option [value]="'Fairy'">Fairy</mat-option>
                    <mat-option [value]="'Fiend'">Fiend</mat-option>
                    <mat-option [value]="'Fish'">Fish</mat-option>
                    <mat-option [value]="'Insect'">Insect</mat-option>
                    <mat-option [value]="'Machine'">Machine</mat-option>
                    <mat-option [value]="'Plant'">Plant</mat-option>
                    <mat-option [value]="'Pyro'">Pyro</mat-option>
                    <mat-option [value]="'Reptile'">Reptile</mat-option>
                    <mat-option [value]="'Rock'">Rock</mat-option>
                    <mat-option [value]="'Sea Serpent'">Sea Serpent</mat-option>
                    <mat-option [value]="'Spellcaster'">Spellcaster</mat-option>
                    <mat-option [value]="'Thunder'">Thunder</mat-option>
                    <mat-option [value]="'Warrior'">Warrior</mat-option>
                    <mat-option [value]="'Winged Beast'">Winged Beast</mat-option>
                    <mat-option [value]="'Zombie'">Zombie</mat-option>
                </mat-optgroup>
            </mat-select>
            @if (filterByTypeControl.value && filterByTypeControl.value.length > 0) {
                <button matSuffix mat-icon-button (click)="filterByTypeControl.setValue([])">
                    <mat-icon>clear</mat-icon>
                </button>
            }
        </mat-form-field>
        <div class="flex flex-row items-center justify-end">
            <!--
            <button mat-icon-button [matTooltip]="'Gray out unobtainable cards'" (click)="grayOutUnobtainableCards = !grayOutUnobtainableCards">
                @if (grayOutUnobtainableCards) {
                    <mat-icon>code_off</mat-icon>
                } @else {
                    <mat-icon>code</mat-icon>
                }
            </button>
            -->
            <button mat-icon-button [matMenuTriggerFor]="menuSort">
                @switch (sortActive) {
                    @case ('CardId') {<mat-icon class="material-symbols-outlined">123</mat-icon>}
                    @case ('CardName') {<mat-icon class="material-symbols-outlined">abc</mat-icon>}
                    @case ('Attack') {<mat-icon class="material-symbols-outlined">swords</mat-icon>}
                    @case ('Defense') {<mat-icon class="material-symbols-outlined">security</mat-icon>}
                    @case ('Type') {<mat-icon class="material-symbols-outlined">category</mat-icon>}
                }
                <div class="absolute top-2 -right-2">
                    @switch (sortDirection) {
                        @case ('asc') {<mat-icon class="material-symbols-outlined rotate-180">straight</mat-icon>}
                        @case ('desc') {<mat-icon class="material-symbols-outlined">straight</mat-icon>}
                    }
                </div>
            </button>
            <mat-menu #menuSort="matMenu">
                <button mat-menu-item (click)="handleSortChange('CardId')">
                    <mat-icon class="material-symbols-outlined">123</mat-icon>
                    Sort by number
                </button>
                <button mat-menu-item (click)="handleSortChange('CardName')">
                    <mat-icon class="material-symbols-outlined">abc</mat-icon>
                    Sort by name
                </button>
                <button mat-menu-item (click)="handleSortChange('Attack')">
                    <mat-icon class="material-symbols-outlined">swords</mat-icon>
                    Sort by attack
                </button>
                <button mat-menu-item (click)="handleSortChange('Defense')">
                    <mat-icon class="material-symbols-outlined">security</mat-icon>
                    Sort by defense
                </button>
                <button mat-menu-item (click)="handleSortChange('Type')">
                    <mat-icon class="material-symbols-outlined">category</mat-icon>
                    Sort by type
                </button>
            </mat-menu>
        </div>
    </div>
    <!-- #endregion -->

    <!-- #region Cards list -->
    <div class="flex flex-col items-center justify-center">
        <div class="p-4 gap-1" [ngClass]="mobileService.isMobile() ? 'grid grid-cols-5' : 'flex flex-row flex-wrap items-center justify-center'">
            @for (card of cards; track $index) {
                <a
                    class="flex flex-col items-center justify-center max-w-[140px] max-h-[212px] w-full aspect-[140/212] bg-gray-300 cursor-pointer hover:scale-110 transition-all"
                    [ngClass]="grayOutUnobtainableCards && !card.hasDrops ? 'filter grayscale' : ''"
                    [routerLink]="navigate ? ['/cards/', card.CardId] : null"
                    (click)="cardSelected.emit(card)"
                >
                    <img [src]="card?.getCardSrc()" [alt]="card.CardId">
                </a>
            }
        </div>
    </div>
    <!-- #region Cards list -->

</div>
