<div class="flex flex-col w-full h-full overflow-y-auto">

    <!-- #region Filters -->
    <div class="fm-toolbar flex flex-row items-center justify-between gap-3 sticky top-0 z-10">
        <mat-form-field class="dense-form-field flex-auto" appearance="outline" subscriptSizing="dynamic">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput [formControl]="filterControl" name="search" type="text" placeholder="Search...">
            @if (filterControl.value) {
                <button matSuffix mat-icon-button (click)="filterControl.setValue('')">
                    <mat-icon>clear</mat-icon>
                </button>
            }
        </mat-form-field>
        <mat-form-field class="dense-form-field flex-auto" appearance="outline" subscriptSizing="dynamic">
            <mat-icon matPrefix>filter_alt</mat-icon>
            <mat-select matInput multiple [formControl]="filterByTypeControl" placeholder="Filter...">
                <mat-option [value]="'Equip'"><div class="flex flex-row items-center gap-2"><img class="w-6 h-6" src="assets/images/types/Equip.png">Equip</div></mat-option>
                <mat-option [value]="'Magic'"><div class="flex flex-row items-center gap-2"><img class="w-6 h-6" src="assets/images/types/Magic.png">Magic</div></mat-option>
                <mat-option [value]="'Ritual'"><div class="flex flex-row items-center gap-2"><img class="w-6 h-6" src="assets/images/types/Ritual.png">Ritual</div></mat-option>
                <mat-option [value]="'Trap'"><div class="flex flex-row items-center gap-2"><img class="w-6 h-6" src="assets/images/types/Trap.png">Trap</div></mat-option>
                <mat-optgroup [label]="'Monsters'">
                    <mat-option [value]="'Aqua'"><div class="flex flex-row items-center gap-2"><img class="w-6 h-6" src="assets/images/types/Aqua.png">Aqua</div></mat-option>
                    <mat-option [value]="'Beast'"><div class="flex flex-row items-center gap-2"><img class="w-6 h-6" src="assets/images/types/Beast.png">Beast</div></mat-option>
                    <mat-option [value]="'Beast-Warrior'"><div class="flex flex-row items-center gap-2"><img class="w-6 h-6" src="assets/images/types/Beast-Warrior.png">Beast-Warrior</div></mat-option>
                    <mat-option [value]="'Dinosaur'"><div class="flex flex-row items-center gap-2"><img class="w-6 h-6" src="assets/images/types/Dinosaur.png">Dinosaur</div></mat-option>
                    <mat-option [value]="'Dragon'"><div class="flex flex-row items-center gap-2"><img class="w-6 h-6" src="assets/images/types/Dragon.png">Dragon</div></mat-option>
                    <mat-option [value]="'Fairy'"><div class="flex flex-row items-center gap-2"><img class="w-6 h-6" src="assets/images/types/Fairy.png">Fairy</div></mat-option>
                    <mat-option [value]="'Fiend'"><div class="flex flex-row items-center gap-2"><img class="w-6 h-6" src="assets/images/types/Fiend.png">Fiend</div></mat-option>
                    <mat-option [value]="'Fish'"><div class="flex flex-row items-center gap-2"><img class="w-6 h-6" src="assets/images/types/Fish.png">Fish</div></mat-option>
                    <mat-option [value]="'Insect'"><div class="flex flex-row items-center gap-2"><img class="w-6 h-6" src="assets/images/types/Insect.png">Insect</div></mat-option>
                    <mat-option [value]="'Machine'"><div class="flex flex-row items-center gap-2"><img class="w-6 h-6" src="assets/images/types/Machine.png">Machine</div></mat-option>
                    <mat-option [value]="'Plant'"><div class="flex flex-row items-center gap-2"><img class="w-6 h-6" src="assets/images/types/Plant.png">Plant</div></mat-option>
                    <mat-option [value]="'Pyro'"><div class="flex flex-row items-center gap-2"><img class="w-6 h-6" src="assets/images/types/Pyro.png">Pyro</div></mat-option>
                    <mat-option [value]="'Reptile'"><div class="flex flex-row items-center gap-2"><img class="w-6 h-6" src="assets/images/types/Reptile.png">Reptile</div></mat-option>
                    <mat-option [value]="'Rock'"><div class="flex flex-row items-center gap-2"><img class="w-6 h-6" src="assets/images/types/Rock.png">Rock</div></mat-option>
                    <mat-option [value]="'Sea Serpent'"><div class="flex flex-row items-center gap-2"><img class="w-6 h-6" src="assets/images/types/Sea Serpent.png">Sea Serpent</div></mat-option>
                    <mat-option [value]="'Spellcaster'"><div class="flex flex-row items-center gap-2"><img class="w-6 h-6" src="assets/images/types/Spellcaster.png">Spellcaster</div></mat-option>
                    <mat-option [value]="'Thunder'"><div class="flex flex-row items-center gap-2"><img class="w-6 h-6" src="assets/images/types/Thunder.png">Thunder</div></mat-option>
                    <mat-option [value]="'Warrior'"><div class="flex flex-row items-center gap-2"><img class="w-6 h-6" src="assets/images/types/Warrior.png">Warrior</div></mat-option>
                    <mat-option [value]="'Winged Beast'"><div class="flex flex-row items-center gap-2"><img class="w-6 h-6" src="assets/images/types/Winged Beast.png">Winged Beast</div></mat-option>
                    <mat-option [value]="'Zombie'"><div class="flex flex-row items-center gap-2"><img class="w-6 h-6" src="assets/images/types/Zombie.png">Zombie</div></mat-option>
                </mat-optgroup>
            </mat-select>
            @if (filterByTypeControl.value && filterByTypeControl.value.length > 0) {
                <button matSuffix mat-icon-button (click)="filterByTypeControl.setValue([])">
                    <mat-icon>clear</mat-icon>
                </button>
            }
        </mat-form-field>
        <div class="flex flex-row items-center justify-end gap-3">
            <!--
            <button mat-icon-button [matTooltip]="'Gray out unobtainable cards'" (click)="grayOutUnobtainableCards = !grayOutUnobtainableCards">
                @if (grayOutUnobtainableCards) {
                    <mat-icon>code_off</mat-icon>
                } @else {
                    <mat-icon>code</mat-icon>
                }
            </button>
            -->
            <button mat-icon-button [matMenuTriggerFor]="menuSort">
                @switch (sortActive) {
                    @case ('CardId') {<mat-icon class="material-symbols-outlined">123</mat-icon>}
                    @case ('CardName') {<mat-icon class="material-symbols-outlined">abc</mat-icon>}
                    @case ('Attack') {<mat-icon class="material-symbols-outlined">swords</mat-icon>}
                    @case ('Defense') {<mat-icon class="material-symbols-outlined">security</mat-icon>}
                    @case ('Type') {<mat-icon class="material-symbols-outlined">category</mat-icon>}
                }
                <div class="absolute top-2 -right-2">
                    @switch (sortDirection) {
                        @case ('asc') {<mat-icon class="material-symbols-outlined rotate-180">straight</mat-icon>}
                        @case ('desc') {<mat-icon class="material-symbols-outlined">straight</mat-icon>}
                    }
                </div>
            </button>
            <mat-menu #menuSort="matMenu">
                <button mat-menu-item (click)="handleSortChange('CardId')">
                    <mat-icon class="material-symbols-outlined">123</mat-icon>
                    Sort by number
                </button>
                <button mat-menu-item (click)="handleSortChange('CardName')">
                    <mat-icon class="material-symbols-outlined">abc</mat-icon>
                    Sort by name
                </button>
                <button mat-menu-item (click)="handleSortChange('Attack')">
                    <mat-icon class="material-symbols-outlined">swords</mat-icon>
                    Sort by attack
                </button>
                <button mat-menu-item (click)="handleSortChange('Defense')">
                    <mat-icon class="material-symbols-outlined">security</mat-icon>
                    Sort by defense
                </button>
                <button mat-menu-item (click)="handleSortChange('Type')">
                    <mat-icon class="material-symbols-outlined">category</mat-icon>
                    Sort by type
                </button>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="menuLang">
                <img class="w-6 h-6" [src]="'assets/images/flags/' + languageService.getCurrentLang() + '.svg'" alt="">
            </button>
            <mat-menu #menuLang="matMenu">
                <button mat-menu-item (click)="languageService.setCurrentLang('eu')">
                    <div class="flex flex-row gap-2">
                        <img class="w-6 h-6" src="assets/images/flags/eu.svg" alt="">
                        European English
                    </div>
                </button>
                <button mat-menu-item (click)="languageService.setCurrentLang('na')">
                    <div class="flex flex-row gap-2">
                        <img class="w-6 h-6" src="assets/images/flags/na.svg" alt="">
                        North American English
                    </div>
                </button>
                <button mat-menu-item (click)="languageService.setCurrentLang('fr')">
                    <div class="flex flex-row gap-2">
                        <img class="w-6 h-6" src="assets/images/flags/fr.svg" alt="">
                        French
                    </div>
                </button>
                <button mat-menu-item (click)="languageService.setCurrentLang('de')">
                    <div class="flex flex-row gap-2">
                        <img class="w-6 h-6" src="assets/images/flags/de.svg" alt="">
                        German
                    </div>
                </button>
                <button mat-menu-item (click)="languageService.setCurrentLang('it')">
                    <div class="flex flex-row gap-2">
                        <img class="w-6 h-6" src="assets/images/flags/it.svg" alt="">
                        Italian
                    </div>
                </button>
                <button mat-menu-item (click)="languageService.setCurrentLang('es')">
                    <div class="flex flex-row gap-2">
                        <img class="w-6 h-6" src="assets/images/flags/es.svg" alt="">
                        Spanish
                    </div>
                </button>
            </mat-menu>
        </div>
    </div>
    <!-- #endregion -->

    <!-- #region Cards list -->
    @defer () {
        <div class="flex flex-col items-center justify-center">
            <div class="p-4 gap-1" [ngClass]="mobileService.isMobile() ? 'grid grid-cols-5' : 'flex flex-row flex-wrap items-center justify-center'">
                @for (card of cards; track $index) {
                    <a
                        class="flex flex-col items-center justify-center max-w-[140px] max-h-[212px] w-full aspect-[140/212] bg-gray-300 cursor-pointer hover:scale-110 transition-all"
                        [ngClass]="grayOutUnobtainableCards && !card.hasDrops ? 'filter grayscale' : ''"
                        [routerLink]="navigate ? ['/cards/', card.CardId] : null"
                        (click)="cardSelected.emit(card)"
                    >
                        <img [src]="card?.getCardSrc(languageService)" [alt]="card.getFullName()">
                    </a>
                }
            </div>
        </div>
    } @placeholder {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    <!-- #region Cards list -->

</div>
