<div class="flex flex-col h-full overflow-y-auto">

    <!-- #region Filters -->
    <div class="flex flex-row items-center justify-between gap-3 bg-card p-3 border-b sticky top-0 z-10">
        <mat-form-field class="dense-form-field flex-auto" appearance="outline" subscriptSizing="dynamic">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput [formControl]="filterControl" name="search" type="text" placeholder="Search...">
            @if (filterControl.value) {
                <button matSuffix mat-icon-button (click)="filterControl.setValue('')">
                    <mat-icon>clear</mat-icon>
                </button>
            }
        </mat-form-field>
        <div class="flex flex-row items-center justify-end">
            <button mat-icon-button (click)="openFilterCardsDialog()">
                <mat-icon>filter_alt</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menuSort">
                @switch (sortActive) {
                    @case ('CardId') {<mat-icon class="material-symbols-outlined">123</mat-icon>}
                    @case ('CardName') {<mat-icon class="material-symbols-outlined">abc</mat-icon>}
                    @case ('Attack') {<mat-icon class="material-symbols-outlined">swords</mat-icon>}
                    @case ('Defense') {<mat-icon class="material-symbols-outlined">security</mat-icon>}
                    @case ('Type') {<mat-icon class="material-symbols-outlined">category</mat-icon>}
                }
                <div class="absolute top-2 -right-2">
                    @switch (sortDirection) {
                        @case ('asc') {<mat-icon class="material-symbols-outlined rotate-180">straight</mat-icon>}
                        @case ('desc') {<mat-icon class="material-symbols-outlined">straight</mat-icon>}
                    }
                </div>
            </button>
            <mat-menu #menuSort="matMenu">
                <button mat-menu-item (click)="handleSortChange('CardId')">
                    <mat-icon class="material-symbols-outlined">123</mat-icon>
                    Sort by number
                </button>
                <button mat-menu-item (click)="handleSortChange('CardName')">
                    <mat-icon class="material-symbols-outlined">abc</mat-icon>
                    Sort by name
                </button>
                <button mat-menu-item (click)="handleSortChange('Attack')">
                    <mat-icon class="material-symbols-outlined">swords</mat-icon>
                    Sort by attack
                </button>
                <button mat-menu-item (click)="handleSortChange('Defense')">
                    <mat-icon class="material-symbols-outlined">security</mat-icon>
                    Sort by defense
                </button>
                <button mat-menu-item (click)="handleSortChange('Type')">
                    <mat-icon class="material-symbols-outlined">category</mat-icon>
                    Sort by type
                </button>
            </mat-menu>
        </div>
    </div>
    <!-- #endregion -->

    <!-- #region Cards list -->
        @if (filterData.groupByActiveSort) {
            @for (cardGroup of cardGroups; track $index) {
                <div class="flex flex-row items-center p-3 pb-0">
                    <div class="bg-gray-800 text-white text-sm rounded px-2 py-1">
                        {{ cardGroup.name }}
                    </div>
                </div>
                <div class="grid grid-cols-5 gap-1 p-3">
                    @for (card of cardGroup.cards; track $index) {
                        <ng-container [ngTemplateOutlet]="cardTemplate" [ngTemplateOutletContext]="{card: card}"/>
                    }
                </div>
            }
        } @else {
            <div class="grid grid-cols-5 gap-1 p-3">
                @for (card of cards; track $index) {
                    <ng-container [ngTemplateOutlet]="cardTemplate" [ngTemplateOutletContext]="{card: card}"/>
                }
            </div>
        }

    <ng-template #cardTemplate let-card="card">
        <a
            class="hover:scale-110 transition-all"
            [ngClass]="filterData.grayOutUnobtainableCards && !card.hasDrops ? 'filter grayscale' : ''"
            [routerLink]="navigate ? ['/cards/', card.CardId] : null"
            (click)="cardSelected.emit(card)"
        >
            <img [src]="card?.getCardSrc()" [alt]="card.CardId">
        </a>
    </ng-template>
    <!-- #region Cards list -->

</div>
