<div class="flex flex-col h-full">

    <div class="router-outlet-container">
        <router-outlet></router-outlet>
    </div>

    <div class="fm-nav">
        @for (item of navigation; track $index) {
            <a class="fm-nav-item"
                [routerLink]="item.url"
                [routerLinkActive]="['active']">
                <div class="fm-nav-item-icon-container">
                    <mat-icon>{{ item.icon }}</mat-icon>
                </div>
                <div class="fm-nav-item-title">
                    {{ item.title }}
                </div>
            </a>
        }
    </div>

</div>
