<div class="flex flex-col">

    <app-breadcrumb [section]="'Database'" [items]="[
        { text: 'Cards', route: ['..'], icon: 'style' },
        { text: card?.getFullName(), route: [], img: card?.getArtworkSrc() },
    ]"
    ></app-breadcrumb>

    @if (card) {
        <div class="flex flex-col xl:flex-row gap-6 py-6 px-3 sm:px-6">

            <div class="flex flex-col gap-6 w-full xl:w-1/3">

                <!-- #region Detail -->
                <div class="fm-card w-full">
                    <div class="fm-card-title">
                        Card info
                    </div>
                    <div class="fm-card-content">
                        <div class="flex flex-col gap-6">
                            <div class="mx-auto">
                                <img [src]="card.getCardSrc()" [alt]="card.CardId">
                            </div>
                            <div class="flex flex-col divide-y">
                                <div class="flex flex-row items-center justify-between gap-6 py-2">
                                    <div class="text-secondary">Id</div>
                                    <div>{{ card.getCardIdAsString() }}</div>
                                </div>
                                <div class="flex flex-row items-center justify-between gap-6 py-2">
                                    <div class="text-secondary">Name</div>
                                    <div>{{ card.CardName }}</div>
                                </div>
                                <div class="flex flex-row items-center justify-between gap-6 py-2">
                                    <div class="text-secondary">Description</div>
                                    <div class="text-right">{{ card.Description }}</div>
                                </div>
                                <div class="flex flex-row items-center justify-between gap-6 py-2">
                                    <div class="text-secondary">Type</div>
                                    <div>{{ card.Type }}</div>
                                </div>
                                @if (card.Type !== 'Equip') {
                                    <div class="flex flex-row items-center justify-between gap-6 py-2">
                                        <div class="text-secondary">GuardianStars</div>
                                        <div>{{ card.GuardianStar1 }} / {{ card.GuardianStar2 }}</div>
                                    </div>
                                    <div class="flex flex-row items-center justify-between gap-6 py-2">
                                        <div class="text-secondary">Level</div>
                                        <div>{{ card.Level }}</div>
                                    </div>
                                    <div class="flex flex-row items-center justify-between gap-6 py-2">
                                        <div class="text-secondary">ATK/DEF</div>
                                        <div>{{ card.Attack }} / {{ card.Defense }}</div>
                                    </div>
                                    <div class="flex flex-row items-center justify-between gap-6 py-2">
                                        <div class="text-secondary">Attribute</div>
                                        <div>{{ card.Attribute }}</div>
                                    </div>
                                }
                                <div class="flex flex-row items-center justify-between gap-6 py-2">
                                    <div class="text-secondary">Password</div>
                                    <div>{{ card.Password }}</div>
                                </div>
                                <div class="flex flex-row items-center justify-between gap-6 py-2">
                                    <div class="text-secondary">StarchipCost</div>
                                    <div>{{ card.StarchipCost }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #endregion -->

            </div>

            <div class="flex flex-col gap-6 w-full xl:w-1/3">

                <!-- #region Drops -->
                <div class="fm-card w-full">
                    <div class="fm-card-title">
                        Drops <span class="text-secondary text-sm">({{ drops.length }})</span>
                    </div>
                    <div class="fm-card-content">
                        <table class="fm-table" matSort [matSortActive]="'CardProbability'" [matSortDirection]="'desc'" [matSortStart]="'desc'" [matSortDisableClear]="true" (matSortChange)="filterDrops($event)">
                            <thead>
                                <tr>
                                    <th mat-sort-header="DuelistId" class="text-left">Duelist</th>
                                    <th mat-sort-header="PoolType" class="text-left">Rank</th>
                                    <th mat-sort-header="CardProbability" arrowPosition="before" class="text-right">%</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (drop of drops; track $index) {
                                    <tr>
                                        <td class="text-left">
                                            <a class="flex flex-row items-center gap-1" [routerLink]="['/duelists/', drop.DuelistId]">
                                                <img [src]="drop.duelist?.getDuelitsSrc()" [alt]="drop.DuelistId" class="w-12 h-12">
                                                <div>{{ drop.duelist?.Duelist }}</div>
                                            </a>
                                        </td>
                                        <td class="text-left">{{ drop.PoolType }}</td>
                                        <td class="text-right">{{ drop.getCardProbabilityPercentage() | number : '1.2-2' }}%</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- #endregion -->

                <!-- #region Opponent decks -->
                <div class="fm-card w-full">
                    <div class="fm-card-title">
                        Opponent decks <span class="text-secondary text-sm">({{ opponentsDecks.length }})</span>
                    </div>
                    <div class="fm-card-content">
                        <table class="fm-table" matSort [matSortActive]="'CardProbability'" [matSortDirection]="'desc'" [matSortStart]="'desc'" [matSortDisableClear]="true" (matSortChange)="filterOpponentDecks($event)">
                            <thead>
                                <tr>
                                    <th mat-sort-header="DuelistId" class="text-left">Duelist</th>
                                    <th mat-sort-header="CardProbability" arrowPosition="before" class="text-right">%</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (drop of opponentsDecks; track $index) {
                                    <tr>
                                        <td class="text-left">
                                            <a class="flex flex-row items-center gap-1" [routerLink]="['/duelists/', drop.DuelistId]">
                                                <img [src]="drop.duelist?.getDuelitsSrc()" [alt]="drop.DuelistId" class="w-12 h-12">
                                                <div>{{ drop.duelist?.Duelist }}</div>
                                            </a>
                                        </td>
                                        <td class="text-right">{{ (drop.CardProbability / 2048 * 100) | number : '1.2-2' }}%</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- #endregion -->

            </div>

            <div class="flex flex-col gap-6 w-full xl:w-1/3">

                @if (card.Type === 'Equip') {

                    <!-- #region Equips -->
                    <div class="fm-card w-full">
                        <div class="fm-card-title">
                            Equips <span class="text-secondary text-sm">({{ equipsInverse.length }})</span>
                        </div>
                        <div class="fm-card-content">
                            <table class="fm-table" matSort [matSortActive]="'Attack'" [matSortDirection]="'desc'" [matSortStart]="'desc'" [matSortDisableClear]="true" (matSortChange)="sortEquipsInverse($event)">
                                <thead>
                                    <tr>
                                        <th mat-sort-header="Card" class="text-left">Card</th>
                                        <th mat-sort-header="Attack" class="text-left">Attack</th>
                                        <th mat-sort-header="Defense" class="text-left">Defense</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (equip of equipsInverse; track $index) {
                                        <tr>
                                            <td class="text-left">
                                                <a class="flex flex-row items-center gap-1" [routerLink]="['/cards/', equip.CardId]">
                                                    <img [src]="equip.card?.getArtworkSrc()" [alt]="equip.CardId" class="w-12 h-12">
                                                    <div>{{ equip.card?.CardName }}</div>
                                                </a>
                                            </td>
                                            <td class="text-left">{{ equip.card?.Attack }}</td>
                                            <td class="text-left">{{ equip.card?.Defense }}</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- #endregion -->

                } @else {

                    <!-- #region Can be equipped with -->
                    <div class="fm-card w-full">
                        <div class="fm-card-title">
                            Can be equipped with <span class="text-secondary text-sm">({{ equips.length }})</span>
                        </div>
                        <div class="fm-card-content">
                            <table class="fm-table" matSort [matSortActive]="'CardName'" [matSortDirection]="'asc'" [matSortDisableClear]="true" (matSortChange)="sortEquips($event)">
                                <thead>
                                    <tr>
                                        <th mat-sort-header="CardName" class="text-left">Equip</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (equip of equips; track $index) {
                                        <tr>
                                            <td class="text-left">
                                                <a class="flex flex-row items-center gap-1" [routerLink]="['/cards/', equip.EquipId]">
                                                    <img [src]="equip.equip?.getArtworkSrc()" [alt]="equip.EquipId" class="w-12 h-12">
                                                    <div>{{ equip.equip?.CardName }}</div>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- #endregion -->

                }

            </div>

        </div>
    }

</div>
