<mat-sidenav-container class="h-full" (backdropClick)="handleBackdropClick()">

    <mat-sidenav-content>

        <div class="flex flex-col h-full overflow-y-auto">

            <!-- #region Filters -->
            <div class="flex flex-row items-center justify-between gap-3 bg-card p-3 border-b sticky top-0">
                <mat-form-field class="dense-form-field flex-auto" appearance="outline" subscriptSizing="dynamic">
                    <mat-icon matPrefix>search</mat-icon>
                    <input matInput [formControl]="filterControl" name="search" type="text" placeholder="Search...">
                    @if (filterControl.value) {
                        <button matSuffix mat-icon-button (click)="filterControl.setValue('')">
                            <mat-icon>clear</mat-icon>
                        </button>
                    }
                </mat-form-field>
                <div class="flex flex-row items-center justify-end">
                    <button mat-icon-button>
                        <mat-icon>filter_alt</mat-icon>
                    </button>
                    <button mat-icon-button [matMenuTriggerFor]="menuSort">
                        <mat-icon>sort_by_alpha</mat-icon>
                    </button>
                    <mat-menu #menuSort="matMenu">
                        <button mat-menu-item>By number</button>
                        <button mat-menu-item>By name</button>
                        <button mat-menu-item>By attack</button>
                        <button mat-menu-item>By defense</button>
                    </mat-menu>
                </div>
            </div>
            <!-- #endregion -->

            <!-- #region Cards list -->
            <div class="grid grid-cols-5 gap-1 p-3">
                @for (card of cards; track $index) {
                    <a class="hover:scale-110 transition-all" [routerLink]="['/cards/', card.CardId]" (click)="selectedCard = card">
                        <img [src]="card?.getCardSrc()" [alt]="card.CardId">
                    </a>
                }
            </div>
            <!-- #region Cards list -->

        </div>

    </mat-sidenav-content>

    <mat-sidenav class="!w-screen !rounded-none" [mode]="'over'" [position]="'end'" [opened]="!!selectedCard">
        <div class="flex flex-col min-h-full bg-surface">
            @if (selectedCard) {

                <!-- #region Header -->
                <div class="flex flex-row items-center gap-3 bg-card p-3 border-b sticky top-0 z-10">
                    <a mat-icon-button [routerLink]="['/cards/']" (click)="selectedCard = undefined">
                        <mat-icon>arrow_back</mat-icon>
                    </a>
                    <img [src]="selectedCard.getArtworkSrc()" [alt]="selectedCard.CardId" class="w-8 h-8">
                    <div class="text-lg flex-auto truncate">
                        {{ selectedCard.getFullName() }}
                    </div>
                </div>
                <!-- #endregion -->

                <div class="flex flex-col px-3 py-6 gap-6">

                    <div class="flex flex-col items-center justify-center gap-3">
                        <img [src]="selectedCard.getCardSrc()" [alt]="selectedCard.CardId" style="width: 140px; height: 212px;">
                        <div class="text-sm text-secondary italic text-center">
                            {{ selectedCard.Description }}
                        </div>
                    </div>

                    <!-- #region Card info -->
                    <mat-expansion-panel class="fm-expansion-panel" [expanded]="true">
                        <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
                            Card info
                        </mat-expansion-panel-header>
                        <div class="flex flex-col gap-6 px-4 py-2">
                            <div class="flex flex-col divide-y">
                                <div class="flex flex-row items-center justify-between gap-6 py-2">
                                    <div class="text-secondary">Type</div>
                                    <div>{{ selectedCard.Type }}</div>
                                </div>
                                @if (selectedCard.Type !== 'Equip') {
                                    <div class="flex flex-row items-center justify-between gap-6 py-2">
                                        <div class="text-secondary">GuardianStars</div>
                                        <div>{{ selectedCard.GuardianStar1 }} / {{ selectedCard.GuardianStar2 }}</div>
                                    </div>
                                    <div class="flex flex-row items-center justify-between gap-6 py-2">
                                        <div class="text-secondary">Level</div>
                                        <div>{{ selectedCard.Level }}</div>
                                    </div>
                                    <div class="flex flex-row items-center justify-between gap-6 py-2">
                                        <div class="text-secondary">ATK/DEF</div>
                                        <div>{{ selectedCard.Attack }} / {{ selectedCard.Defense }}</div>
                                    </div>
                                    <div class="flex flex-row items-center justify-between gap-6 py-2">
                                        <div class="text-secondary">Attribute</div>
                                        <div>{{ selectedCard.Attribute }}</div>
                                    </div>
                                }
                                <div class="flex flex-row items-center justify-between gap-6 py-2">
                                    <div class="text-secondary">Password</div>
                                    <div>{{ selectedCard.Password }}</div>
                                </div>
                                <div class="flex flex-row items-center justify-between gap-6 py-2">
                                    <div class="text-secondary">StarchipCost</div>
                                    <div>{{ selectedCard.StarchipCost }}</div>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <!-- #endregion -->

                    <!-- #region Drops -->
                    <mat-expansion-panel class="fm-expansion-panel" [expanded]="true">
                        <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
                            Drops
                            @if (loading) {
                                (...)
                            } @else {
                                ({{ drops.length }})
                            }
                        </mat-expansion-panel-header>
                        @if (loading) {
                            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        } @else {
                            @if (drops.length > 0) {
                                <table class="fm-table" matSort [matSortActive]="'CardProbability'" [matSortDirection]="'desc'" [matSortStart]="'desc'" [matSortDisableClear]="true" (matSortChange)="sortDrops($event)">
                                    <thead>
                                        <tr>
                                            <th mat-sort-header="DuelistId" class="text-left">Duelist</th>
                                            <th mat-sort-header="PoolType" class="text-left">Rank</th>
                                            <th mat-sort-header="CardProbability" arrowPosition="before" class="text-right">%</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (drop of drops; track $index) {
                                            <tr>
                                                <td class="text-left">
                                                    <a class="flex flex-row items-center gap-1" [routerLink]="['/duelists/', drop.DuelistId]">
                                                        <img [src]="drop.duelist?.getDuelitsSrc()" [alt]="drop.DuelistId" class="w-12 h-12">
                                                        <div>{{ drop.duelist?.Duelist }}</div>
                                                    </a>
                                                </td>
                                                <td class="text-left">{{ drop.PoolType }}</td>
                                                <td class="text-right">{{ drop.getCardProbabilityPercentage() | number : '1.2-2' }}%</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            } @else {
                                <div class="flex flex-col items-center justify-center p-6">
                                    <div class="text-gray-500 text-7xl mb-6">
                                        :(
                                    </div>
                                    <div class="text-center">
                                        No one drops it.
                                    </div>
                                    <div class="text-gray-500 text-sm text-center">
                                        This card cannot be obtained in duel.
                                    </div>
                                </div>
                            }
                        }
                    </mat-expansion-panel>
                    <!-- #endregion -->

                    <mat-expansion-panel class="fm-expansion-panel" [expanded]="true">
                        <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
                            Opponent decks
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>

                    <mat-expansion-panel class="fm-expansion-panel" [expanded]="true">
                        <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
                            Equips
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>

                    <mat-expansion-panel class="fm-expansion-panel" [expanded]="true">
                        <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
                            Can be equipped with
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>

                </div>
            }
        </div>
    </mat-sidenav>

</mat-sidenav-container>
