
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
    @include mat.theme((
        color: (
            theme-type: dark,
            primary: mat.$azure-palette,
            tertiary: mat.$blue-palette,
        ),
        typography: Roboto,
        density: 0,
    ));
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background: var(--mat-sys-surface); }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .border,
    .border-r,
    .border-l,
    .border-t,
    .border-b,
    .border-x,
    .border-y {
        @apply border-gray-700;
    }
}

// Custom
.bg-primary {
    background-color: var(--mat-sys-primary);
}

.text-primary {
    color: var(--mat-sys-primary);
}

.bg-surface {
    background-color: var(--mat-sys-surface) !important;
}

a {
    @apply hover:underline;
}

.bg-card {
    background-color: var(--mat-sys-surface) !important;
}

.text-secondary {
    @apply text-slate-500;
}

// FM
.fm-card {
    @apply bg-card rounded shadow;

    position: relative;
    margin: 0 auto;
    background-color: var(--mat-sys-surface);
    background:
        url('assets/images/misc/top-left.png') top left no-repeat, /* Angolo in alto a sinistra */
        url('assets/images/misc/top-right.png') top right no-repeat, /* Angolo in alto a destra */
        url('assets/images/misc/bottom-left.png') bottom left no-repeat, /* Angolo in basso a sinistra */
        url('assets/images/misc/bottom-right.png') bottom right no-repeat, /* Angolo in basso a destra */
        url('assets/images/misc/top.png') top center repeat-x, /* Lato superiore */
        url('assets/images/misc/bottom.png') bottom center repeat-x, /* Lato inferiore */
        url('assets/images/misc/left.png') center left repeat-y, /* Lato sinistro */
        url('assets/images/misc/right.png') center right repeat-y, /* Lato destro */
        url('assets/images/misc/background.png') repeat center center;   /* Background interno stirato */
    background-size:
        17px 26px,   /* Angolo superiore sinistro */
        17px 26px,   /* Angolo superiore destro */
        17px 13px,   /* Angolo inferiore sinistro */
        17px 13px,   /* Angolo inferiore destro */
        auto 26px,   /* Lato superiore */
        auto 13px,   /* Lato inferiore */
        17px auto,   /* Lato sinistro */
        17px auto,   /* Lato destro */
        auto auto;   /* Background interno stirato */
    color: white;

    .fm-card-title {
        padding: 38px 29px 25px 29px;
        background:
            url('assets/images/misc/bottom-left.png') bottom left no-repeat, /* Angolo in basso a sinistra */
            url('assets/images/misc/bottom-right.png') bottom right no-repeat, /* Angolo in basso a destra */
            url('assets/images/misc/bottom.png') bottom center repeat-x;   /* Background interno stirato */
        background-size:
            17px 13px,   /* Angolo inferiore sinistro */
            17px 13px,   /* Angolo inferiore destro */
            auto 13px;   /* Lato inferiore */
    }

    .fm-card-content {
        @apply flex flex-col;
        padding: 12px 29px 25px 29px;
    }
}

.fm-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    th {
        padding: 8px 12px;
        font-weight: 500;
        font-size: 14px !important;
    }

    td {
        padding: 4px 12px;
    }

    th {
        @apply border-b;
    }

    th, td {
        @apply border-b;

        &:first-of-type {
            @apply pl-3 sm:pl-6;
        }

        &:last-of-type {
            @apply pr-3 sm:pr-6;
        }
    }

    a {
        @apply text-primary;
    }
}
