
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
    @include mat.theme((
        color: (
            theme-type: light,
            primary: mat.$azure-palette,
            tertiary: mat.$blue-palette,
        ),
        typography: Roboto,
        density: 0,
    ));
}

// Colors
.bg-primary {
    background-color: var(--mat-sys-primary) !important;
}

.bg-surface {
    @apply bg-slate-100;
}

.bg-card {
    @apply bg-white;
}

.text-primary {
    color: var(--mat-sys-primary);
}

.text-secondary {
    @apply text-gray-500;
}


/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    @apply bg-surface;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.router-outlet-container {
    @apply flex flex-col flex-auto overflow-y-auto;

    > *:not(router-outlet) {
        @apply h-full;
    }
}

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    @apply text-primary hover:underline;
}

// Material
.dense-form-field {
    @include mat.form-field-density(-3);

    .mat-mdc-form-field-icon-prefix {
        padding-right: 0;
    }
}

// Material
.ultra-dense-form-field {
    @include mat.form-field-density(-5);

    .mat-mdc-form-field-icon-prefix {
        padding-right: 0;
    }
}

// FM
.fm-nav {
    @apply flex flex-row items-center justify-evenly border-t bg-slate-200 py-3;

    .fm-nav-item {
        @apply flex flex-col items-center gap-1 text-slate-800 hover:no-underline;

        &:hover {
            .fm-nav-item-icon-container {
                @apply bg-slate-300;
            }
        }

        &.active {
            .fm-nav-item-icon-container {
                @apply bg-primary text-white;
            }

            .fm-nav-item-title {
                @apply font-bold;
            }
        }

        .fm-nav-item-icon-container {
            @apply flex flex-row items-center rounded-full px-4 py-1 transition-all;
        }

        .fm-nav-item-title {
            @apply text-xs text-gray-600;
        }
    }
}

.fm-sidenav {
    @apply flex flex-col gap-2 p-3;

    .fm-sidenav-item {
        @apply flex flex-row items-center gap-3 text-slate-800 hover:no-underline rounded-full p-4;

        &:hover {
            @apply bg-slate-300;
        }

        &.active {
            @apply bg-primary text-white;

            .fm-sidenav-item-title {
                @apply font-bold text-white;
            }
        }

        .fm-sidenav-item-title {
            @apply text-gray-600;
        }
    }
}

.fm-card {
    @apply bg-card rounded shadow;

    .fm-card-title {
        @apply border-b px-3 py-3;
    }

    .fm-card-content {
        @apply flex flex-col px-3 py-3;
    }
}

.fm-expansion-panel {
    background-color: white !important;

    .mat-expansion-panel-header {
        padding: 0 16px;

        &.mat-expanded {
            @apply border-b rounded-b-none;
        }
    }

    .mat-expansion-panel-body {
        padding: 0px;
    }
}

.fm-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    th {
        @apply bg-slate-200;
        padding: 4px 12px;
        font-weight: 500;
        font-size: 14px !important;
    }

    td {
        padding: 4px 12px;
    }

    th {
        @apply border-b;
    }

    th, td {
        @apply border-b;

        &:first-of-type {
            @apply pl-4;
        }

        &:last-of-type {
            @apply pr-4;
        }
    }

    a {
        @apply text-primary;
    }
}

.fm-toolbar {
    @apply bg-card min-h-20 h-20 p-3 md:px-6 border-b;
}

.mat-mdc-dialog-surface {
    overflow: hidden !important;
    border-radius: 12px !important;

    .fm-dialog-content {
        max-height: calc(100vh - 64px - 64px);
        overflow: auto;
        @apply flex flex-col p-4;
    }

    .fm-dialog-actions {
        @apply flex flex-row items-center justify-end gap-4 p-4;
    }
}

.icon-96 {
    width: 96px !important;
    height: 96px !important;
    font-size: 96px !important;
}
