
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply hover:underline;
}

// Fix tailwind form field outline
// https://github.com/tailwindlabs/tailwindcss/discussions/9993
.mdc-notched-outline__notch {
  border-right: none !important;
}

.mat-mdc-dialog-surface {
  overflow: hidden !important;

  .dialog-content {
      max-height: calc(100vh - 64px - 64px);
      overflow: auto;
      @apply flex flex-col p-4 sm:p-6;
  }

  .dialog-actions {
      @apply flex flex-row items-center justify-end gap-4 p-4 sm:p-6;
  }
}
