<mat-drawer-container class="h-full" (backdropClick)="handleBackdropClick()">

    <mat-drawer-content>

        <div class="flex flex-col h-full overflow-y-auto">

            <!-- #region Filters -->
            <div class="fm-toolbar flex flex-row items-center justify-between gap-3 sticky top-0 z-10">
                <mat-form-field class="dense-form-field flex-auto" appearance="outline" subscriptSizing="dynamic">
                    <mat-icon matPrefix>search</mat-icon>
                    <input matInput [formControl]="filterControl" name="search" type="text" placeholder="Search...">
                    @if (filterControl.value) {
                        <button matSuffix mat-icon-button (click)="filterControl.setValue('')">
                            <mat-icon>clear</mat-icon>
                        </button>
                    }
                </mat-form-field>
                <div class="flex flex-row items-center justify-end">
                    <button mat-icon-button [matMenuTriggerFor]="menuSort">
                        @switch (sortActive) {
                            @case ('DuelistId') {<mat-icon class="material-symbols-outlined">123</mat-icon>}
                            @case ('Duelist') {<mat-icon class="material-symbols-outlined">abc</mat-icon>}
                        }
                        <div class="absolute top-2 -right-2">
                            @switch (sortDirection) {
                                @case ('asc') {<mat-icon class="material-symbols-outlined rotate-180">straight</mat-icon>}
                                @case ('desc') {<mat-icon class="material-symbols-outlined">straight</mat-icon>}
                            }
                        </div>
                    </button>
                    <mat-menu #menuSort="matMenu">
                        <button mat-menu-item (click)="handleSortChange('DuelistId')">
                            <mat-icon class="material-symbols-outlined">123</mat-icon>
                            Sort by number
                        </button>
                        <button mat-menu-item (click)="handleSortChange('Duelist')">
                            <mat-icon class="material-symbols-outlined">abc</mat-icon>
                            Sort by name
                        </button>
                    </mat-menu>
                </div>
            </div>
            <!-- #endregion -->

            <!-- #region Cards list -->
            <div class="grid grid-cols-5 gap-x-1 gap-y-6 p-3">
                @for (duelist of duelists; track $index) {
                    <a
                        class="hover:scale-110 transition-all"
                        [routerLink]="['/duelists/', duelist.DuelistId]"
                        (click)="selectedDuelist = duelist"
                    >
                        <div class="flex flex-col items-center justify-center">
                            <img [src]="duelist.getDuelitsSrc()" [alt]="duelist.DuelistId">
                            <div class="text-xs text-center truncate max-w-full">{{ duelist.Duelist }}</div>
                        </div>
                    </a>
                }
            </div>
            <!-- #region Cards list -->

        </div>

    </mat-drawer-content>

    <mat-drawer class="!rounded-none" [ngClass]="mobileService.isTablet() ? '!w-full' : '!w-1/2 !shadow !border-l'" [mode]="mobileService.isTablet() ? 'over' : 'side'" [position]="'end'" [opened]="!!selectedDuelist || !mobileService.isTablet()">
        <div class="flex flex-col min-h-full">
            @if (selectedDuelist) {

                <!-- #region Header -->
                <div class="fm-toolbar flex flex-row items-center gap-3 sticky top-0 z-10">
                    <a mat-icon-button [routerLink]="['/duelists/']" (click)="selectedDuelist = undefined">
                        <mat-icon>arrow_back</mat-icon>
                    </a>
                    <img [src]="selectedDuelist.getDuelitsSrc()" [alt]="selectedDuelist.DuelistId" class="w-8 h-8">
                    <div class="flex flex-col gap-1 flex-auto truncate leading-none">
                        <div class="">
                            {{ selectedDuelist.Duelist }}
                        </div>
                        <div class="text-secondary text-xs">
                            Duelist
                        </div>
                    </div>
                </div>
                <!-- #endregion -->

                <div class="flex flex-col px-3 md:px-6 py-6 gap-6">

                    <div class="flex flex-col items-center justify-center gap-3">
                        <img [src]="selectedDuelist.getDuelitsSrc()" [alt]="selectedDuelist.DuelistId">
                        <div class="text-sm text-secondary italic text-center">

                        </div>
                    </div>

                    <!-- #region Drops -->
                    <mat-expansion-panel class="fm-expansion-panel" [expanded]="true">
                        <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
                            Drops
                            @if (loading) {
                                (...)
                            } @else {
                                ({{ drops.length }})
                            }
                        </mat-expansion-panel-header>
                        @if (loading) {
                            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        } @else {
                            <div class="fm-toolbar flex flex-row items-center justify-between gap-3">
                                <mat-form-field class="dense-form-field flex-auto" appearance="outline" subscriptSizing="dynamic">
                                    <mat-icon matPrefix>filter_alt</mat-icon>
                                    <mat-select matInput multiple [formControl]="filterDropsByRankControl" placeholder="Filter...">
                                        <mat-select-trigger>
                                            <div class="flex flex-row">
                                                @for (poolType of filterDropsByRankControl.value; track $index; let last = $last) {
                                                    <div>
                                                        @switch (poolType) {
                                                            @case ('SAPow') {
                                                                <div class="flex flex-row items-center gap-1">
                                                                    <div>S/A</div>
                                                                    <div class="bg-red-500 text-white rounded px-1 py-0.5 text-xs">POW</div>
                                                                </div>
                                                            }
                                                            @case ('SATec') {
                                                                <div class="flex flex-row items-center gap-1">
                                                                    <div>S/A</div>
                                                                    <div class="bg-blue-500 text-white rounded px-1 py-0.5 text-xs">TEC</div>
                                                                </div>
                                                            }
                                                            @case ('BCD') {
                                                                <div class="flex flex-row items-center gap-1">
                                                                    <div>B/C/D</div>
                                                                </div>
                                                            }
                                                            @default {
                                                                {{ poolType }}
                                                            }
                                                        }
                                                    </div>
                                                    @if (!last) {
                                                        <div class="ml-1 mr-2">,</div>
                                                    }
                                                }
                                            </div>
                                        </mat-select-trigger>
                                        <mat-option [value]="'SAPow'">
                                            <div class="flex flex-row items-center gap-1">
                                                <div>S/A</div>
                                                <div class="bg-red-500 text-white rounded px-1 py-0.5 text-xs">POW</div>
                                            </div>
                                        </mat-option>
                                        <mat-option [value]="'SATec'">
                                            <div class="flex flex-row items-center gap-1">
                                                <div>S/A</div>
                                                <div class="bg-blue-500 text-white rounded px-1 py-0.5 text-xs">TEC</div>
                                            </div>
                                        </mat-option>
                                        <mat-option [value]="'BCD'">
                                            <div class="flex flex-row items-center gap-1">
                                                <div>B/C/D</div>
                                            </div>
                                        </mat-option>
                                    </mat-select>
                                    @if (filterDropsByRankControl.value && filterDropsByRankControl.value.length > 0) {
                                        <button matSuffix mat-icon-button (click)="filterDropsByRankControl.setValue([])">
                                            <mat-icon>clear</mat-icon>
                                        </button>
                                    }
                                </mat-form-field>
                                <div class="flex flex-row items-center justify-end">
                                    <button mat-icon-button [matMenuTriggerFor]="menuSortDrops">
                                        @switch (sortDropsActive) {
                                            @case ('card.Attack') {<mat-icon class="material-symbols-outlined">swords</mat-icon>}
                                            @case ('card.Defense') {<mat-icon class="material-symbols-outlined">security</mat-icon>}
                                            @case ('CardProbability') {<mat-icon class="material-symbols-outlined">percentage</mat-icon>}
                                        }
                                        <div class="absolute top-2 -right-2">
                                            @switch (sortDropsDirection) {
                                                @case ('asc') {<mat-icon class="material-symbols-outlined rotate-180">straight</mat-icon>}
                                                @case ('desc') {<mat-icon class="material-symbols-outlined">straight</mat-icon>}
                                            }
                                        </div>
                                    </button>
                                    <mat-menu #menuSortDrops="matMenu">
                                        <button mat-menu-item (click)="handleSortDropsChange('card.Attack')">
                                            <mat-icon class="material-symbols-outlined">swords</mat-icon>
                                            Sort by attack
                                        </button>
                                        <button mat-menu-item (click)="handleSortDropsChange('card.Defense')">
                                            <mat-icon class="material-symbols-outlined">security</mat-icon>
                                            Sort by defense
                                        </button>
                                        <button mat-menu-item (click)="handleSortDropsChange('CardProbability')">
                                            <mat-icon class="material-symbols-outlined">percentage</mat-icon>
                                            Sort by probability
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                            <div class="px-4 py-6 gap-x-1 gap-y-6" [ngClass]="mobileService.isTablet() ? 'grid grid-cols-3' : 'flex flex-row flex-wrap items-center justify-center'">
                                @for (drop of drops; track $index) {
                                    <a class="flex flex-col items-center justify-center min-w-16 hover:scale-110 transition-all" [routerLink]="['/cards/', drop.CardId]">
                                        <div class="flex flex-row items-center gap-1 text-sm whitespace-nowrap">
                                            <div class="bg-gray-800 text-white rounded-t pl-1">
                                                @switch (drop.PoolType) {
                                                    @case ('SAPow') {
                                                        <div class="flex flex-row items-center gap-1">
                                                            <div>S/A</div>
                                                            <div class="bg-red-500 text-white rounded px-1 py-0.5 text-xs">POW</div>
                                                        </div>
                                                    }
                                                    @case ('SATec') {
                                                        <div class="flex flex-row items-center gap-1">
                                                            <div>S/A</div>
                                                            <div class="bg-blue-500 text-white rounded px-1 py-0.5 text-xs">TEC</div>
                                                        </div>
                                                    }
                                                    @case ('BCD') {
                                                        <div class="flex flex-row items-center gap-1">
                                                            <div class="pr-1">B/C/D</div>
                                                        </div>
                                                    }
                                                    @default {
                                                        {{ drop.PoolType }}
                                                    }
                                                }
                                            </div>
                                            <div class="bg-gray-800 text-white rounded-t px-1 font-bold">
                                                {{ drop.getCardProbabilityPercentage() | number : '1.2-2' }}%
                                            </div>
                                        </div>
                                        <img [src]="drop.card?.getCardSrc()" [alt]="drop.CardId">
                                    </a>
                                }
                            </div>
                        }
                    </mat-expansion-panel>
                    <!-- #endregion -->

                    <!-- #region Decks -->
                    <mat-expansion-panel class="fm-expansion-panel" [expanded]="true">
                        <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
                            Deck
                            @if (loading) {
                                (...)
                            } @else {
                                ({{ decks.length }})
                            }
                        </mat-expansion-panel-header>
                        @if (loading) {
                            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        } @else {
                            <div class="px-4 py-6 gap-x-1 gap-y-6" [ngClass]="mobileService.isTablet() ? 'grid grid-cols-3' : 'flex flex-row flex-wrap items-center justify-center'">
                                @for (deck of decks; track $index) {
                                    <a class="flex flex-col items-center justify-center min-w-16 hover:scale-110 transition-all" [routerLink]="['/cards/', deck.CardId]">
                                        <div class="flex flex-row items-center justify-between gap-3 text-sm">
                                            <div class="bg-gray-800 text-white rounded-t px-1 font-bold">
                                                {{ deck.getCardProbabilityPercentage() | number : '1.2-2' }}%
                                            </div>
                                        </div>
                                        <img [src]="deck.card?.getCardSrc()" [alt]="deck.CardId">
                                    </a>
                                }
                            </div>
                        }
                    </mat-expansion-panel>
                    <!-- #endregion -->

                </div>
            }
        </div>
    </mat-drawer>

</mat-drawer-container>
