<div class="flex flex-row items-center gap-2 border-b px-3 sm:px-6 py-3 bg-white">
    <div class="text-sm">
        {{ section }}
    </div>
    @for (item of items; track $index) {
        <div class="text-xs">
            /
        </div>
        <a class="flex flex-row items-center gap-2" [routerLink]="item.route">
            @if (item.icon) {
                <mat-icon>{{ item.icon }}</mat-icon>
            } @else if (item.img) {
                IMG TODO
            }
            {{ item.text }}
        </a>
    }
</div>
