<div class="flex flex-col items-center">

    <div class="flex flex-col max-w-5xl">

        <img class="p-6" src="assets/images/misc/yugioh-fm-logo.png" alt="">

        <div class="text-center p-6">
            Yu-Gi-Oh! Forbidden Memories Database
        </div>

        <div class="text-center p-6">
            WORK IN PROGRESS
        </div>

        <div class="flex flex-col items-center gap-6 p-6 bg-gray-200">
            <div class="text-center text-xl font-bold">
                😱 What is this?
            </div>
            <img src="assets/images/misc/yugioh-fm-cover.png" alt="">
            <div class="flex flex-col items-center gap-3 text-center">
                <p>"Yu-Gi-Oh! Forbidden Memories" is PlayStation game based on the Yu-Gi-Oh! manga and anime series.</p>
                <p>This app aims to help players navigate the game by providing useful tools to search for powerful cards, check where to find them, explore duelists and their drops, and calculate fusion combinations.</p>
            </div>
        </div>

        <div class="flex flex-col items-center gap-6 p-6">
            <div class="text-xl text-center font-bold">
                <a [routerLink]="['/cards']">Cards</a>
            </div>
            <div class="flex flex-col items-center gap-3 text-center">
                <p>Explore the full collection of cards available in game. Find details on each card's power and how to obtain them.</p>
            </div>
        </div>

        <div class="flex flex-col items-center gap-6 p-6 bg-gray-200">
            <div class="text-xl text-center">
                <a [routerLink]="['/duelists']">Duelists</a>
            </div>
            <div class="flex flex-col items-center gap-3 text-center">
                <p>Learn about the duelists you'll face throughout the game, including the cards they drop and the ones they use in battle.</p>
            </div>
        </div>

        <div class="flex flex-col items-center gap-6 p-6">
            <div class="text-xl text-center">
                <a [routerLink]="['/fusions']">Fusions</a>
            </div>
            <div class="flex flex-col items-center gap-3 text-center">
                <p>Enter the cards in your hand and discover all possible fusion combinations, from the most powerful to the most efficient.</p>
            </div>
        </div>

        <div class="flex flex-col items-center gap-6 p-6 bg-gray-200">
            <div class="text-center text-xl font-bold">
                🙏 Credits
            </div>
            <div class="flex flex-col gap-3 text-center">
                <p>This app would not have been possible without the hard work and dedication of many enthusiasts.</p>
                <p>Over the years, many individuals have gathered data from the game and conducted valuable research, which made this project possible. Below is the list of those who contributed to this effort:</p>
                <ul>
                    <li>bla</li>
                    <li>bla bla</li>
                    <li>bla bla bla</li>
                </ul>
            </div>
        </div>

    </div>

</div>
